body {
    font-family: sans-serif;
}

.header {
background-color: #99C1CC;
border-radius: 15px;
height: 30px;
padding: 15px;
color: #E3F1F5;
}

header p {
text-align: left;
float:right;
}

.link-nav {
    margin-top: 15px;
    color: #35616E;
    text-decoration: none;
    display: flex;
    border-top:2px solid #35616E;
    border-bottom:2px solid #35616E;
    padding: 5px;

}

.genshinp {
background-color: #99C1CC;
border-radius: 15px;
padding: 10px;
color: #1D3E48;
}

h1 {
color: #35616E;

}

.asdfd {
width: 30px;
height: 30px;
}

.fontan {
    border-radius: 20px;
}

body {
    font-family: sans-serif;
}
.headertwo {
background-color: #99C1CC;
border-radius: 15px;
height: 40px;
padding: 15px;
color: #E3F1F5;
display: flex;
border-top:2px solid #35616E; 
border-bottom:2px solid #35616E;
}

.headertwi {
background-color: #99C1CC;
border-radius: 15px;
height: 75px;
padding: 15px;
color: #E3F1F5;
}

.link-header {
    margin-top: 15px;
    color: #35616E;
    text-decoration: none;
    display: flex;
    border-top:2px solid #35616E;
    border-bottom:2px solid #35616E;
    padding: 5px;
    

}

.gan {
    border-radius: 20px;
}

.social {
  width:30px;
  height:30px;
}

body {
    font-family: sans-serif;
}

.link-header {
    margin-top: 15px;
    color: #35616E;
    text-decoration: none;
    display: flex;
    border-top:2px solid #35616E;
    border-bottom:2px solid #35616E;
    padding: 5px;
    

}
.headerthree {
background-color: #99C1CC;
border-radius: 15px;
height: 40px;
padding: 15px;
color: #E3F1F5;
}

.headerthreee {
background-color: #99C1CC;
border-radius: 15px;
width: 100;
height: 290px;
padding: 15px;
color: #E3F1F5;
}

.boom {
    border-radius: 20px;
}

.socialtwo {
  width:30px;
  height:30px;
    
}

.headertwo {
background-color: #99C1CC;
border-radius: 15px;
height: 40px;
padding: 15px;
color: #E3F1F5;
display: flex;
border-top:2px solid #35616E; 
border-bottom:2px solid #35616E;
}


body {
    font-family: sans-serif;
}

.link-header {
    margin-top: 15px;
    color: #35616E;
    text-decoration: none;
    display: flex;
    border-top:2px solid #35616E;
    border-bottom:2px solid #35616E;
    padding: 5px;
    

}

.headertwo {
background-color: #99C1CC;
border-radius: 15px;
height: 40px;
padding: 15px;
color: #E3F1F5;
display: flex;
border-top:2px solid #35616E; 
border-bottom:2px solid #35616E;
}

.headerthree {
background-color: #99C1CC;
border-radius: 15px;
height: 90px;
padding: 15px;
color: #E3F1F5;
}

.boom {
background-color: #99C1CC;
border-radius: 15px;
height: 50px;
padding: 15px;
color: #E3F1F5;
}

.controlV {
background-color: #99C1CC;
border-radius: 15px;
height: 100px;
padding: 15px;
color: #E3F1F5;
}

.ky-ky {
  width:30px;
  height:30px;
    
}

.xaxaxa {
background-color: #99C1CC;
border-radius: 15px;
height: 50px;
padding: 15px;
color: #E3F1F5;
}

.xaxaxaxa {
background-color: #99C1CC;
border-radius: 15px;
height: 200px;
padding: 15px;
color: #E3F1F5;
}

.fruu {
  background-color: #99C1CC;
border-radius: 15px;
height: 40px;
padding: 15px;
color: #E3F1F5;
display: flex;
border-top:2px solid #35616E; 
border-bottom:2px solid #35616E;

}
